<ion-view view-title="">
  <ion-content class="pageView">
  <div class="padding">
	<h4 class="dark">Account</h4>
	</div>

	  
    </div>
		<div class="list">

<div class="pageViewInside">
	    <div class="item item-avatar" ng-repeat="data in profile">
        <img ng-src="{{data.img}}">
      <h2 class="myHeading">{{data.Fname}} {{data.Lname}}</h2>
	  <h5 class="mySubHeading">ID Number: {{data.id}}</h5>

</div>
	<hr class="myHR">
	<div class="list">

<div class="pageViewInside">

  <a class="item item-icon-left">
    <i class="icon ion-android-map"></i>
    <p>Address</p>
	<h6 class="item-note">
      Mabayuan, Olongapo City
    </h6>
  </a>
  
   <a class="item item-icon-left">
    <i class="icon ion-android-call"></i>
    <p>Contact Number</p>
	<h6 class="item-note">
      0932-015-8119
    </h6>
  </a>
  
   <a class="item item-icon-left">
    <i class="icon ion-android-calendar"></i>
    <p>Birthdate</p>
	<h6 class="item-note">
      March 11, 1998
    </h6>
  </a>
  
  <a class="item item-icon-left">
    <i class="icon ion-social-facebook"></i>
    <p>Facebook</p>
	<h6 class="item-note">
      John Philip Canlas
    </h6>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-social-twitter"></i>
    <p>Twitter</p>
	<h6 class="item-note">
      @Executor_132
    </h6>
  </a>

  <a class="item item-icon-left">
    <i class="icon ion-android-mail"></i>
    <p>E-mail</p>
    <h6 class="item-note">
      oreo.mcfloat@gmail.com
    </h6>
    </p>
  </a>

</div>
</div>
	
</div>
</div>
<br>

  </ion-content>
</ion-view>
