<ion-view view-title="">
  <ion-content class="pageView">
	<div class="padding">
	
	<h4 class="dark">Rate Our App!</h4>
		
		
	<div class="pageViewInside">
        <ion-list class="animate-ripple">
		
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" href="http://wwww.facebook.com">
                <img src="img/material1.jpg">
                <h2>Like us on Facebook</h2>
				<p>Home Shield - Official Facebook Page</p>
				<a class="button button-icon icon ion-social-facebook"></a>				
				</ion-item>
			

            <ion-item nav-clear menu-close class="item-icon-right item-avatar" href="http://wwww.twitter.com">
                <img src="img/material1.jpg">
                <h2>Follow Us on Twitter</h2>
                <p>@officialHomeShield</p>
				<a class="button button-icon icon ion-social-twitter"></a>				
            </ion-item>
			
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" href="http://www.gmail.com">
                <img src="img/material1.jpg">
                <h2>Email Us on Gmail</h2>
                <p>HS_HomeShield@gmail.com</p>
                <i class="icon ion-social-google-outline"></i>
            </ion-item>
			
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" href="http://www.youtube.com">
                <img src="img/material1.jpg">
                <h2>View our Instructional Video on Youtube</h2>
                <p>HS_TYOfficial</p>
                <i class="icon ion-social-youtube"></i>
            </ion-item>
        </ion-list>

	</div>
</div>
  </ion-content>
</ion-view>
