<ion-view view-title="">
  <ion-content class="pageView">
	<div class="padding">
	<h4 class="dark">Toggle Mobile Functions</h4>
	</div>
	<div class="pageViewInside">
	<ul class="list">

  <li class="item item-toggle">
  <h2 class="">Activate Device</h2>
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
  <h2 class="">Update Notifications</h2>
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  
  <li class="item item-toggle">
  <h2 class="">Live News Subscription</h2>
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>
</div>


  </ion-content>
</ion-view>
