<ion-view view-title="">
  <ion-content class="pageView">
        <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
	 <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
	
	<div ng-show="!loading">
	
<div class="padding">
	<h4 class="dark">Share</h4>
		<h6 class="mySubHeading">Help us spread the word, make this world a safer place!</h6>

	</div>
	
	<div class="list">

<div class="pageViewInside">
  <div class="item item-icon-left">
    <i class="icon ion-social-facebook"></i>
    <p><a href="http://www.facebook.com">Facebook</a></p>
	<h6 class="item-note">
      Home Shield - Official Page
    </h6>
  </div>

  <div class="item item-icon-left href="#">
    <i class="icon ion-social-twitter"></i>
    <p><a href="http://www.twitter.com">Twitter</a></p>
	<h6 class="item-note">
      @officialHomeShield
    </h6>
  </div>

  <div class="item item-icon-left" href="#">
    <i class="icon ion-social-google-outline"></i>
    <p><a href="http://www.gmail.com">Google</a></p>
    <h6 class="item-note">
      HS_HomeShield@gmail.com
    </h6>
    </p>
  </div>
  
  <div class="item item-icon-left" href="#">
    <i class="icon ion-social-instagram"></i>
    <p><a href="http://www.instagram.com">Instagram</a></p>
    <h6 class="item-note">
      HS_HomeShield_IG
    </h6>
    </p>
  </div>

  <div class="item item-icon-left" href="#">
    <i class="icon ion-social-reddit"></i>
    <p><a href="http://www.reddit.com">Instagram</a></p>
    <h6 class="item-note">
      HS_Reddit
    </h6>
    </p>
  </div>
  
    <div class="item item-icon-left" href="#">
    <i class="icon ion-social-youtube"></i>
    <p><a href="http://www.youtube.com">Youtube</a></p>
    <h6 class="item-note">
      HS_TYOfficial
    </h6>
    </p>
  </div>
  <br><br>
</div>
</div>
</div>
  </ion-content>
</ion-view>
