<ion-nav-view name="tabContent"></ion-nav-view>
	<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-android-home" icon-on="ion-android-home" href="#/app/home">
    <ion-nav-view name="app-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Statistics" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/app/statistics">
    <ion-nav-view name="app-statistics"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Discover" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/app/discover">
    <ion-nav-view name="app-discover"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="share" icon-off="ion-android-share-alt" icon-on="ion-android-share-alt" href="#/app/share">
    <ion-nav-view name="app-share"></ion-nav-view>
  </ion-tab>

</ion-tabs>
